*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: darkolivegreen;
  font-weight: bold;
}

@font-face {
  font-family: font01;
  src: url("../fonts/EduVICWANTBeginner-Medium.woff2") format("woff2");
}

h1 {
  text-align: center;
}

body {
  height: 125vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.logo-section {
  flex: 1;
  background-image: url(../images/bmw.jpg);
  background-color: grey;
}

.content {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: lightskyblue;
}

.info {
  flex: 3;
  background-color: lightgrey;
}

.signup-form {
  flex: 2;
  background-color: whitesmoke;
}

.buttons {
  flex: 3;
  background-color: lightgray;
}

.para-1,
.para-2 {
  width: 46ch;
  font-size: 22px;
  font-weight: 600;
}

.para-1 {
  margin: 150px 40px 10px 60px;
}

.para-2 {
  margin: 20px 40px 30px 60px;
}

.signup-form h2,
.signup-form form,
.buttons button,
.buttons p {
  margin-left: 60px;
}

.signup-form {
  div {
    display: inline-block;
  }

  label {
    display: block;
  }
}

.signup-form label {
  color: rgba(0, 0, 0, 0.673);
  font-size: 12px;
  font-weight: bold;
}

.signup-form input {
  height: 30px;
  font-size: 16px;
  width: 30ch;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 4px;
}

.signup-form div {
  margin-right: 70px;
  margin-bottom: 20px;
}

.signup-form h2 {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.814);
  margin-top: 18px;
  margin-bottom: 25px;
}

.signup-form form {
  margin-bottom: 20px;
}

.buttons button {
  margin-top: 35px;
  background-color: darkolivegreen;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 50px;
  border: none;
  border-radius: 8px;
  box-shadow: 4px 4px 12px grey;
}

.buttons p {
  margin-top: 36px;
  font-size: 16px;
  font-weight: 500;
}

.container .logo-strip {
  position: absolute;
  width: 100%;
  height: 140px;
  opacity: 0.1;
  margin-top: 200px;
  background-color: whitesmoke;
}

.logo-section .logo-info {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

.logo-section .logo-image {
  width: 140px;
  height: 140px;
  display: inline-block;
  margin-right: 10px;
}

.logo-section p {
  font-size: 64px;
  margin-top: auto;
  margin-bottom: auto;
  color: rgba(255, 255, 255, 0.713);
}